<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To Do List</title>
</head>
<body>
    <div class="class" id="heading">
    <h1><%=Date%></h1>
    
    </div>

    <div class="box">



        <%for(var i=0;i<newListItems.length;i++){%>

            <div class="item">
                <input type="checkbox">
            <p><%=newListItems[i]%></p>
        </div>0
        <%}%>

        <form action="/" method="post">
            <input type="text" name="todo" placeholder="New Item" autocomplete="off">
            <button type="submit">+</button>
        </form>
  

</div>

   
</body>
</html>